{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="banner_small">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3.0">
        <form method="post">  
            {% csrf_token %}  
            {% if form.non_field_errors %}  
                <div class="alert alert-danger">  
                    {{ form.non_field_errors }}  
                </div>  
            {% endif %}  
            {% for field in form %}  
                <p class="form-label">{{ field.label }}</p>  
                <p>{{ field }}</p>  
            {% endfor %}  
            
            <div class="auth-buttons_reset">
                <button type="submit" class="auth-button">Войти</button>  
                <a href="{% url 'personal_account:password_reset' %}" class="auth-button">Забыли пароль?</a>
            </div>
        </form>
    </div>

{% endblock content %}