{% extends "base_personal_account.html" %}
{% block content %}
    <div class="content">
        <div class="banner">
            {% comment %} <h2>Реквизиты для оплаты взносов</h2>
            <h6>Получаель платежа: <br>
            Межрегиональный потребительский кооператив «Бест Вей» <br>
            ИНН/КПП 7814613150/781401001<br>
            Банковские реквизиты: <br>
            р/с 40703810755070009293 <br>
            в СевероЗападном Банке ПАО Сбербанк г. СанктПетербург<br>
            к/с 30101810500000000653<br>
            БИК 044030653</h6> {% endcomment %}
        </div>
    </div>
{% endblock %}