{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="banner_small">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3.0">
        <form method="post"> 
            {% csrf_token %}  
            {% if form.non_field_errors %}  
                <div class="alert alert-danger">  
                    {{ form.non_field_errors }}  
                </div>  
            {% endif %}  
            {% for field in form %}  
                <p class="form-label">{{ field.label }}</p>  
                <p>{{ field }}</p>  
                {% if field.errors %}  
                    <ul class="alert alert-danger">  
                        {{ field.errors }}  
                    </ul>  
                {% endif %}  
            {% endfor %}
            <div class="auth-buttons_reset">
                <button type="submit" class="auth-button">Зарегистрироваться</button>  
            </div>
        </form>
    </div>

    <div class="banner_small">
        <h2>Поддержка</h2>
        <p>По всем возникающим вопросам просим обращаться по электронной почте:</p>
            <div style="margin: 15px 10; overflow-wrap: break-word;">
                <a href="mailto:help@bestwaycoop.ru" class="email-link">
                    help@bestwaycoop.ru
                </a>
            </div>
        </div>
    </div>

{% endblock content %}
