{% extends "base.html" %}
{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="banner_small">
        <form method="post"> 
            {% csrf_token %}  
            {% for field in form %}
                {% if not forloop.last %}
                <p class="form-label"> {{ field.label }}</p>  
                <p>{{ field }}</p>
                {% endif %}
            {% endfor %}

            <div class="form-label" style="display: inline;">
                {{ form.agree_to_terms }}
                <span>
                    Я согласен с 
                    <a href="/static/img/approval/membership_agreement.pdf" target="_blank" class="terms-link">
                        условиями обработки данных
                    </a>
                </span>
            </div>

            <div class="auth-buttons_reset">
                <button type="submit" class="auth-button">Зарегистрироваться</button>  
            </div>
        </form>
    </div>

    <div class="banner_small">
        <h2>Поддержка</h2>
        <p>По всем возникающим вопросам просим обращаться по электронной почте:</p>
            <div style="margin: 15px 10; overflow-wrap: break-word;">
                <a href="mailto:help@bestwaycoop.ru" class="email-link">
                    help@bestwaycoop.ru
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
